.formulario{
    display: flex;
    flex-direction: column;
    width:25%;
    position: relative;
    left:20%;
}

.genreDropdown{
    position: relative;
    left: 120%;
    bottom: 400px;
}

.resultDropdown{
    position: relative;
    left: 120%;
    bottom: 350px;
    color:rgb(7, 245, 233);
}