body{
    background-image: url(C:\Users\Justo\Desktop\PI-VideoGames\PI-Videogames-main\client\src\imgs\7477.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.boton{
  width: 250px;
  height: 125px;
  font-size: 20px;
  background-color: grey;
}