body{
    background-image: url(C:\Users\Justo\Desktop\PI-VideoGames\PI-Videogames-main\client\src\imgs\7477.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
  }